{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block%}
About Rango
{% endblock %}



{% block body_block%}
    <h1>Rango says ....</h1>
    <div>
        <p>Visits: {{visits}}</p>
        here is the about page <br />
        <strong> This tutorial was made by Conal </strong><br />
    </div>
    <div>
        <img src = "{% static 'images/lizard.jpg' %}"
            alt="picture of rango"/>
    </div>
    <div>
            <img src="{{ MEDIA_URL }}cat.jpg" 
            alt="Picture of a cat."/>
        </div>    
{% endblock %}